<!-- Subheader Start -->
<div class="ghive_subheader" style="background-image: url(assets/img/subheader.png)">
  <i class="fas fa-bone"></i>
  <i class="fas fa-bone"></i>
  <div class="container">
    <div class="ghive_subheader-inner">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav>
      <h1>About Us</h1>
    </div>
  </div>
</div>
<!-- Subheader End -->

<!-- Counter Start -->
<div class="section section-padding pt-0">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ghive_counter">
          
          <h3 ><span class="count">500</span>+</h3>
          <h6>Daily Searches</h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ghive_counter">
          <h3 ><span class="count">200</span>+</h3>
          <h6>Aussie Owners </h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ghive_counter">
          <h3 ><span class="count">20</span>+</h3>
          <h6>Weekly Reservation </h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ghive_counter">
          <h3 ><span class="count">80</span>+</h3>
          <h6>Happy Clients</h6>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- Counter End -->

<!-- About Start -->
<div class="section bg-left bg-contain bg-norepeat" style="background-image: url(assets/img/about-8.jpg)">
  
  <div class="container">
   
    <div class="row">
      <div class="col-lg-6">
        <video width="400" height="450" controls>
          <source src="../../../assets/img/aussie-vid.mp4" type="video/mp4">
          <!-- <source src="movie.ogg" type="video/ogg"> -->
        Your browser does not support the video tag.
        </video>
      </div>

      <div class=" col-lg-6">

        <div class="section-title-2">
          <!-- <p>Over 150 Aussies Care. </p> -->
          <h3 class="title">Australian Shepherds need roughly 30 to 60 minutes of exercise a day</h3>
          <p style="color: black;">
            preferably with high-energy activities like playing Frisbee. They need a job to do as well, such as daily obedience training or competing in herding and agility trials.<br>
            Australian Shepherds can be very destructive and bark for long periods if they're not getting the exercise and mental stimulation they need.<br>
              Aussies will alert bark to warn you if they see or hear something suspicious, and will protect their family and home with a surprising fierceness.
          </p>
          <!-- <p>The Australian Shepherd was originally developed to herd livestock for ranchers and farmers in the western U.S., and some modern-day Aussies still hold that job.</p> -->
        </div>

        <div class="ghive_icon-block style-3">
          <div class="ghive_icon-block-icon primary-bg">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle cx="45" cy="45" r="40" />
            </svg>
            <i class="flaticon-shuttle"></i>
          </div>
          <div class="ghive_icon-block-content">
            <h4 style="color: black;">Genaral Size </h4>
            <p style="color: black;">
              Slightly longer than they are tall, the Australian Shepherd stands 20 to 23 inches tall at the shoulder for males, 18 to 21 inches for females. On average, males weigh between 50 and 65 pounds, females 40 to 55 pounds.
            </p>
          </div>
        </div>

        <div class="ghive_icon-block style-3">
          <div class="ghive_icon-block-icon secondary-bg">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle cx="45" cy="45" r="40" />
            </svg>
            <i class="flaticon-speedometer"></i>
          </div>
          <div class="ghive_icon-block-content">
            <h4 style="color: black;">Genaral Personality</h4>
            <p style="color: black;">
              Like many herding dogs, Australian Shepherds are by nature loyal to their family but standoffish with strangers. They need early socialization — exposure to many different people, sights, sounds, and experiences — when they're young.
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
<!-- About End -->

<!-- Spacer -->
<!-- <div class="section pt-0"></div> -->

<div class="section secondary-bg" style="background-color: #614327;">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-9">
        <h3 class="text-white mb-md-0 text-center text-md-left" >
          Today, the Australian Shepherd remains the same eye-catching, energetic, clever dog that proved so useful to ranchers and farmers in the old West. They're loved by many and enjoys life as a family companion, protector, and herding dog.
        </h3>
      </div>
      <!-- <div class="col-md-3 text-md-right text-center">
        <a href="#" class="ghive_btn-custom ghive_rounded">Signup Today</a>
      </div> -->
    </div>
  </div>
</div>