<!-- Subheader Start -->
<div class="ghive_subheader" style="background-image: url(assets/img/subheader.png)">
  <i class="fas fa-bone"></i>
  <i class="fas fa-bone"></i>
  <div class="container">
    <div class="ghive_subheader-inner">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Policy</li>
        </ol>
      </nav>
      <h1>Reservation Policy...</h1>
    </div>
  </div>
</div>
<!-- Subheader End -->

<!--Start Faq Page Area-->
<section class="faq-page-area" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="faq-left-content-box">
          <h4>Puppy Reservation Policies.</h4>
          <p>Puppy Reservations and Policies.
            We have a  litter at least once a year to every other year. You will be sent a puppy reservation form. Once we receive your deposit and form we log the date your deposit is received and place you on our list for a puppy.
            Note that the reservation fee varies depending on the litter type.<br>
            <strong>Please keep in mind that your deposit is non-refundable unless we can't provide you with a puppy.</strong>
            We take reservations before the birth of the puppies and also accept advanced reservations for future puppies.  If we do not get your desired gender in the litter, we will offer you one opposite-gender pup or move your deposit onto another upcoming litter.
            We do ultrasounds on our females to confirm pregnancy since we don’t want our clients waiting for a puppy longer than needed.
          </p>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="faq-right-content-box">
          <h4>Puppy Prices.</h4>
          <p>Our puppies run between $600 to $1,000 depending on the litter type.
            Thank you for considering our Center.
            We look forward to working with you to pick just the right puppy for your family.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Faq Page Area-->