<section class="footer-top-part section pb-0">
  <!-- <img src="assets/img/footer-2.png" alt="domain.com" class="image-2"> -->
  <br><br><br><br><br><br><br><br><br><br><br><br>
</section>
<!-- Footer End -->

<!-- Footer Start -->
<footer class="ghive_footer ghive_footer-fw">

  <!-- Middle Footer -->
  <div class="ghive_footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-8 col-sm-16 footer-widget">
          <img class="ghive_footer-logo" src="assets/img/logo-7.png" alt="Logo">
          <p class="mb-40">
            Despite their name, the Australian Shepherd dog breed originated in the western United States, not Australia, around the time of the Gold Rush in the 1840s. Originally bred to herd livestock, they remain a working dog at heart.
          </p>
        </div>
        <div class="offset-lg-1 col-lg-4 col-md-8 col-sm-16 footer-widget">
          <h5 class="widget-title">Newsletter</h5>
          <p>Subscribe and get updated on all newly born and arrived puppies together with additional events held by the center...
          </p>
          <form class="ghive_newsletter" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email Address" name="newsletterEmail" >
              <button type="submit" class="ghive_btn-custom primary" name="button"> <i class="far fa-envelope-open"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="offset-lg-1 col-lg-3 col-md-8 col-sm-16 footer-widget">
          <h5 class="widget-title">Quick Links...</h5>
          <ul>
            <li> <a routerLink="/about">About</a> </li>
            <li> <a routerLink="/contact">Contact </a> </li>
            <li> <a routerLink="/puppies">Available Aussies</a> </li>
            <li> <a routerLink="/reviews">Testimonials</a></li>
            <li> <a routerLink="/policies">Reservation Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="ghive_footer-bottom">
    <div class="container">
      <div class="ghive_footer-copyright">
        <p> Copyright © 2021 All Rights Reserved. <a href="/">rescuedaustralianshepherds.com</a></p>
        <!-- <ul>
          <li> <a href="#">Terms & Conditions</a> </li>
          <li> <a href="#">Services</a> </li>
          <li> <a href="#">Careers</a> </li>
        </ul> -->
      </div>
    </div>
  </div>

</footer>
<!-- Footer End -->