<!-- Aside (Mobile Navigation) -->
<aside class="ghive_aside ghive_aside-left">
  <a class="navbar-brand" href="/"> <img src="assets/img/logo-7.png" alt="logo" > </a>

  <ul>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/about" >About US</a>
    </li>
    <li class="menu-item">
      <a href="/puppies" >Available Aussies</a> </li>
    <li class="menu-item">
      <a href="/contact" >Contact Us</a>
    </li>
    <li class="menu-item">
      <a href="/reviews" >Testimonials</a>
    </li>
  </ul>

  <div class="ghive_aside-footer">
    <a class="ghive_btn-custom primary" href="/reserve" >Inquire!</a>
  </div>

</aside>
<div class="ghive_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<header class="ghive_header ghive_header-fw header-2 can-sticky">

  <!-- Middle Header Start -->
  <div class="ghive_header-middle">
    <div class="container">
      <nav class="navbar">
        <!-- Logo -->
        <a class="navbar-brand" href="/"> <img src="assets/img/logo-7.png" alt="logo" > </a>

        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item">
            <a href="/">Home</a>
          </li>
          <li class="menu-item">
            <a href="/about" >About US </a>
          </li>
          <li class="menu-item">
            <a href="/puppies" >Available Aussies</a> </li>
          <li class="menu-item">
            <a href="/contact" >Contact Us</a>
          </li>
          <li class="menu-item">
            <a href="/reviews" >Testimonials</a>
          </li>
        </ul>

        <div class="ghive_header-controls">
          <a href="/reserve"  class="ghive_btn-custom primary">
            <i class="fas fa-bone mr-2"></i>
            Inquire!</a>

          <!-- Toggler -->
          <div class="aside-toggler aside-trigger-left">
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
      </nav>
    </div>
  </div>
  <!-- Middle Header End -->

</header>
<!-- Header End -->