<!-- Subheader Start -->
<div class="ghive_subheader" style="background-image: url(assets/img/subheader.png)">
  <i class="fas fa-bone"></i>
  <i class="fas fa-bone"></i>
  <div class="container">
    <div class="ghive_subheader-inner">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Aussies</li>
        </ol>
      </nav>
      <h1>Aussies</h1>
    </div>
  </div>
</div>
<!-- Subheader End -->

<!-- Recent Pet Cares  Start -->
<div class="section section-padding pt-0" style="margin-top: 20px;">
  <img src="assets/img/bg1.png" class="texture-1" alt="Texture 1">
  <div class="container">

    <div class="section-title flex-title">
      <h3 class="title">All Available Aussies...</h3>
      <!-- <div class="section-title-control">
        <a href="store/new" class="ghive_btn-custom light">Add New Pet. </a>
      </div> -->
    </div>

    <div class="row">

      <!-- Pet Card Start -->
      <div class="col-lg-4" *ngFor="let pet of pets">
        <div class="ghive_job-card" *ngIf="pet.name != ''">
          <div class="ghive_job-card-header">
            <img src="{{pet.image}}" alt="{{pet.name}}">
            <a (click)="changeHeartState()" [ngStyle]="{color: liked === true ? '#ff5c1c' : '#dde3e7'}"
              style="cursor: pointer;">
              <i class="flaticon-heart"></i>
            </a>
          </div>
          <div class="ghive_job-card-body">
            <h5> <a [routerLink]="['/puppy', pet.id]" >{{pet.name}} </a></h5>
            <ul style="margin-bottom: 0px; list-style-type: circle; font-family: Aclonica;">
              <li style="color: #808714;">{{pet.gender}}</li>
              <li style="color: #808714;">{{pet.age}}</li>
              <li style="color: #808714;">{{pet.registered}}</li>
              <hr>
              <li style="color: #808714;"><span>Complete Fee: </span>${{pet.price}}</li>
              <li style="color: #808714;"><span>Reservation Fee: </span>${{pet.reserve_fee}}</li>
            </ul>
          </div>
          <div class="ghive_job-card-footer">
            <a class="ghive_btn-custom primary btn-block ghive_rounded" [routerLink]="['/puppy', pet.id]" routerLinkActive="router-link-active"> Inquire </a>
          </div>
        </div>
      </div>
      <!-- Pet Card End -->
    </div>
  </div>
</div>
<!-- Recent Pet Cares  End -->