<!-- Subheader Start -->
<div class="ghive_subheader" style="background-image: url(assets/img/subheader.png)">
  <i class="fas fa-bone"></i>
  <i class="fas fa-bone"></i>
  <div class="container">
    <div class="ghive_subheader-inner">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shipping</li>
        </ol>
      </nav>
      <h1>Shipping Policy...</h1>
    </div>
  </div>
</div>
<!-- Subheader End -->

<section class="faq-page-area" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="faq-left-content-box">
          <div class="accordion accordion-block">
            <div class="accord-btn">
              <h3>Overview of our shipping policy.</h3>
            </div>
            <div class="accord-content">
              <p>Our experienced staff brings years of knowledge in the puppy shipping industry and will make your
                shipping experience as easy as possible. Our Aussie Puppies are shipped with most major airlines; they
                all have pressurized cabins with climate control systems, the puppies are flown in a special compartment
                for pets. We strive to provide you with extraordinary customer service from beginning to end. We explain
                every detail thoroughly providing full flight and tracking details so you can stay connected to your
                puppy(s) throughout the process.</p>
            </div>
          </div>

          <!-- <div class="accordion accordion-block">
            <div class="accord-btn">
              <h3>Puppy Reservation Policy.</h3>
            </div>
            <div class="accord-content">
              <p>We have a  litter at least once a year to every other year. You will be sent a puppy reservation form. Once we receive your deposit and form we log the date your deposit is received and place you on our list for a puppy.
                Note that the reservation fee varies depending on the litter type.<br>
                <strong>Please keep in mind that your deposit is non-refundable unless we can't provide you with a puppy.</strong>
                We take reservations before the birth of the puppies and also accept advanced reservations for future puppies.  If we do not get your desired gender in the litter, we will offer you one opposite-gender pup or move your deposit onto another upcoming litter.
                We do ultrasounds on our females to confirm pregnancy since we don’t want our clients waiting for a puppy longer than needed.
              </p>
            </div>
          </div> -->

          <div class="accordion accordion-block">
            <div class="accord-btn active">
              <h3>How do we ship our puppies?</h3>
            </div>
            <div class="accord-content collapsed">
              <p>Our Vet does a complete health exam on your puppy which includes a fecal test to check if the dog is
                free from any worms or parasites. (We only ship our puppies on airlines that implement a Pet Safety
                Program) or We ship using Well Specialized Animal Courier.

                We will book a delivery appointment (flight) as soon as we receive the reservation deposit and send you
                an email itinerary of all of the times, flights, schedules, tracking AWB & pick-up details.

                On the day of your puppy’s journey, the delivery agent will pick him up from our breeding facility and
                prepare him for delivery before transporting him to the airport. Once all of the paperwork is filled out
                and your puppy is checked in at the airport, you will receive an email and phone call from the delivery
                agency with full flight details. During the day of the flight, we will continually update you
                step-by-step on the progress of the flight until your puppy arrives safely at your doorstep.

                You can also use the tracking number which we will send to you after the flight confirmation to track
                the progress of your puppy’s flight from the website of the delivery agency.
                Our puppies normally ship out early in the morning and they are delivered later on that same day or the
                next day in the morning if we put him on an early flight.

                Note: When you purchase your puppy through our website the first thing that you need to do is to take
                the dog to a licensed vet within the first 7 days to make sure he is in good health condition else our
                refund policy will not apply.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xl-6">
        <div class="faq-right-content-box">
          <div class="accordion accordion-block">
            <div class="accord-btn">
              <h3>How long will it be before I receive the puppy?</h3>
            </div>
            <div class="accord-content">
              <p>Given the puppy is at least 8 weeks of age or older and has the right medical documents required for
                shipment, we normally deliver within 6-8 hours the same day or the day after.
                Note: We require at least 2 hours to purchase the airline ticket. That is the only way to get good
                airfares, so please be patient and we will do the best we can to get your puppy to you as fast as we
                can.
                How we deliver our Aussie Puppies in the summer?
                Delivery and Shipping will be carried out by a professional animal relocation agency and the puppy will
                be shipped mostly by land with temperature regulatory crates.</p>
            </div>
          </div>

          <div class="accordion accordion-block mar0">
            <div class="accord-btn">
              <h3>Want to have more details?</h3>
            </div>
            <div class="accord-content">
              <p>Your puppy will arrive in a brand new airline-approved kennel with absorbent bedding and a food & water
                dish. All puppies are flown in the pet conducive part of the aircraft which is a safe
                temperature-controlled environment.
                Note: Any kennelling fees owed because of flight cancellations will be the responsibility of the
                individual who receives the puppy.
                Every puppy shipped through our Center will be handled with the utmost professional precision by
                one of our shipping experts.
                For more inquiries contact us at info@rescuedaustralianshepherds.com</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>