<!-- Subheader Start -->
<div class="ghive_subheader" style="background-image: url(assets/img/subheader.png)">
  <i class="fas fa-bone"></i>
  <i class="fas fa-bone"></i>
  <div class="container">
    <div class="ghive_subheader-inner">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reviews</li>
        </ol>
      </nav>
      <h1>Testimonials</h1>
    </div>
  </div>
</div>
<!-- Subheader End -->

<!-- Testimonials Start -->
<div class="section pt-0 pb-0" style="margin-top: 20px;">
  <div class="container">

    <!-- <div class="section-title">
      <h3 class="title">Customer Feedback</h3>
    </div> -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/8.jpg" alt="Testimonial">
        </div>
        <p>
          You can be sure that you are in good hands with "Rescued Australian Shepherd". They made me confident about our purchase of a puppy online and ensured that we will get a beautiful healthy Aussie puppy. They were available to answer questions from day 1 and even days after our puppy was delivered.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Charlene K.</h6>
        <span>- Family - October 2 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/1.jpg" alt="Testimonial">
        </div>
        <p>It was nevertheless a good experience and relation we had with our aussie pups though we had to be very attentive as they were too fragile on their arrival but are strong loving puppies now. Please don't hesitate to contact us on any need puppy. Thanks.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Morgan Esparo</h6>
        <span>- Business Owner - September 30 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/2.jpg" alt="Testimonial">
        </div>
        <p>
          Thanks for the update in your emails, it lead to my son having a new playmate, and they just can't be separated.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Werner Brawn</h6>
        <span>- Software Engineer - September 28 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/3.jpg" alt="Testimonial">
        </div>
        <p>
          I feel so good to have adopt my little boy after i heared the mother gave bed to them and died after. So sad 😟 but happy with him now.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Carlane J.</h6>
        <span>- Medical Doctor - September 28 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/7.jpg" alt="Testimonial">
        </div>
        <p>
          Greetings! I wanna thank the sales service manager for the patient and comprehensiveness he had with me as he was so on top of my puppy to get her home to us as quickly and safely as possible despite my constant pressure. Thank you for always communicating with me and now making me a Mommy!!! We re-named her Lyla, and she is the best thing that has ever happened to us.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Armene H.</h6>
        <span>- School Teacher - September 25 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/5.jpg" alt="Testimonial">
        </div>
        <p>
          Our experience with your team was quite great though we had some delays! We are thrilled with our little 'Anderson'. He is full of characteristics we were looking for and is settling into our family beautifully.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Charly Drew.</h6>
        <span>- Business Owner - September 24 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/6.jpg" alt="Testimonial">
        </div>
        <p>
          I can't believe how she was barking when I came to pick her up as someone could say we knew each other as joyful as both of us looked. Once again thank you for proving me wrong on your centre's credibility.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Lydol A.</h6>
        <span>- Family - September 22 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/9.jpg" alt="Testimonial">
        </div>
        <p>
          Got my little Portia from rescued Australian shepherd. From there, she paved the way for me to breed. Therefore, making my dreams have puppies. She is a real example of an Aussie.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Ashley T.</h6>
        <span>- Student - September 20 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Testimonial Start -->
    <div class="ghive_testimonial-item">
      <div class="ghive_testimonial-content">
        <div class="ghive_testimonial-thumb">
          <img src="assets/img/people/10.jpg" alt="Testimonial">
        </div>
        <p>
          This is our first dog so we were really nervous about finding the right one that would work for our family and lifestyle. "Rescued Australian Shepherd" made the process so easy and full proof. Our little angel was actually delivered directly to our doorstep, which was amazing since we are in PA. The breeder must have done some training with him because he is absolutely the best puppy we could have ever gotten.
        </p>
        <i class="flaticon-right-quote"></i>
      </div>
      <div class="ghive_testimonial-footer">
        <h6>Andrea Carland.</h6>
        <span>- Family - September 20 2021</span>
      </div>
    </div>
    <!-- Testimonial End -->

  </div>
</div>
<!-- Testimonials End -->