<!-- Subheader Start -->
<div class="ghive_subheader" style="background-image: url(assets/img/subheader.png)">
  <i class="fas fa-bone"></i>
  <i class="fas fa-bone"></i>
  <div class="container">
    <div class="ghive_subheader-inner">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reviews</li>
        </ol>
      </nav>
      <h1>Customer Feedback</h1>
    </div>
  </div>
</div>
<!-- Subheader End -->

<!-- Testimonials Start -->
<div class="section pt-0 pb-0" style="margin-top: 20px;">
  <div class="container">

    <!-- <div class="section-title">
      <h3 class="title">Customer Feedback</h3>
    </div> -->

    <div class="ghive_testimonials ghive_testimonials-slider">

      <!-- Testimonial Start -->
      <div class="ghive_testimonial-item">
        <div class="ghive_testimonial-content">
          <div class="ghive_testimonial-thumb">
            <img src="assets/img/people/1.jpg" alt="Testimonial">
          </div>
          <p>It was nevertheless a good experience and relation we had with our aussie pups though we had to be very attentive as they were too fragile on their arrival but are strong loving puppies now. Please don't hesitate to contact us on any need puppy. Thanks.
          </p>
          <i class="flaticon-right-quote"></i>
        </div>
        <div class="ghive_testimonial-footer">
          <h6>Morgan Esparo</h6>
          <span>- Business Owner </span>
        </div>
      </div>
      <!-- Testimonial End -->

      <!-- Testimonial Start -->
      <div class="ghive_testimonial-item">
        <div class="ghive_testimonial-content">
          <div class="ghive_testimonial-thumb">
            <img src="assets/img/people/2.jpg" alt="Testimonial">
          </div>
          <p>
            Thanks for the update in your emails, it lead to my son having a new playmate, and they just can't be separated.
          </p>
          <i class="flaticon-right-quote"></i>
        </div>
        <div class="ghive_testimonial-footer">
          <h6>Werner Brawn</h6>
          <span>- Software Engineer </span>
        </div>
      </div>
      <!-- Testimonial End -->

      <!-- Testimonial Start -->
      <div class="ghive_testimonial-item">
        <div class="ghive_testimonial-content">
          <div class="ghive_testimonial-thumb">
            <img src="assets/img/people/3.jpg" alt="Testimonial">
          </div>
          <p>
            I feel so good to have adopt my little boy after i heared the mother gave bed to them and died after. So sad 😟 but happy with him now.
          </p>
          <i class="flaticon-right-quote"></i>
        </div>
        <div class="ghive_testimonial-footer">
          <h6>Carlane J.</h6>
          <span>- Medical Doctor </span>
        </div>
      </div>
      <!-- Testimonial End -->

    </div>

  </div>
</div>
<!-- Testimonials End -->